<template>
    <div id="login" class="login-wrap">
        <div class="ms-title">LOGIN</div>
        <div class="ms-login">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="demo-ruleForm">
                <el-form-item prop="username">
                    <el-input v-model="ruleForm.username" placeholder="username"></el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input type="password" placeholder="password" v-model="ruleForm.password" @keyup.enter.native="submitForm('ruleForm')"></el-input>
                </el-form-item>
                <div class="login-btn">
                    <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
                </div>
                <p style="font-size:12px;line-height:30px;color:#999;">Tips : 用户名和密码随便填。</p>
            </el-form>
        </div>
    </div>
</template>
<script>
export default {
  data: function() {
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [{ required: true, message: "请输入用户名", trigger: "blur" }],
        password: [{ required: false, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      const self = this;
      self.$refs[formName].validate(valid => {
        let account = {
          account: self.ruleForm.username,
          pwd: self.ruleForm.password
        };
        self.requestLogin(account.account, account.pwd);
      });
    },
    requestLogin(user, pwd) {
      localStorage.setItem('loginState', '1')
      this.$router.push('/hometop')
      let jsonData = {
        username: user,
        password: pwd
      };
      var headers = new Headers();
      headers.append("Content-Type", "application/json");
      var myInit = {
        method: "POST",
        headers: headers
      };
      myInit.body = JSON.stringify(jsonData);
      fetch("login", myInit).then(function(res) {
        console.log('success res:', res.headers)
        res.json().then(function(result) {
          if (result.code == 0) {
            console.log('success cookie headers:', document.cookie)
          } else {
            console.log("loginFailed");
          }
        });
      });
    }
  }
};
</script>

<style scoped>
@import "../static/css/main.css";
@import "../static/css/color-dark.css"; /*深色主题*/
.login-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.ms-title {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -230px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 160px;
  margin: -150px 0 0 -190px;
  padding: 40px;
  border-radius: 5px;
  background: #fff;
}
.login-btn {
  text-align: center;
}
.login-btn button {
  width: 100%;
  height: 36px;
}
</style>