<template>
    <div>
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><i class="el-icon-menu"></i> 表格</el-breadcrumb-item>
                <el-breadcrumb-item>基础表格</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <el-table :data="tableData" border="" style="width: 100%" ref="multipleTable">
            <el-table-column prop="name" label="项目" width="150">
            </el-table-column>
            <el-table-column prop="value" label="信息">
                <template slot-scope="scope">
                    <span class="cell-value">{{scope.row.value}}</span>
                    <el-button class="edit-button" size="small" round @click="onCellClicked(scope.row)" type="primary">修改</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="ad-container">
          <div class="upload">
            <img class="upload-pre" :src="cnAnAd" alt="">
            <vue-core-image-upload class="upload-button"
                                  v-bind:url="cnAnImgApi"
                                  @imagechanged = "imagechanged"
                                  @imageuploaded="imageuploaded">
                                  <el-button @click="onChangeAd('cn', 'android')" type="primary">替换安卓中文广告</el-button>
            </vue-core-image-upload>
          </div>
          <div class="upload">
            <img class="upload-pre" :src="enAnAd" alt="">
            <vue-core-image-upload class="upload-button"
                                  v-bind:url="enAnImgApi"
                                  :multiple="false"
                                  @imagechanged = "imagechanged"
                                  @imageuploaded="imageuploaded"
                                  >
                                  <el-button @click="onChangeAd('en', 'android')" type="primary">替换安卓英文广告</el-button>
            </vue-core-image-upload>
          </div>
          <div class="upload">
            <img class="upload-pre" :src="cnIOSAd" alt="">
            <vue-core-image-upload class="upload-button"
                                  v-bind:url="cnIOSImgApi"
                                  @imagechanged = "imagechanged"
                                  @imageuploaded="imageuploaded">
                                  <el-button @click="onChangeAd('cn', 'ios')" type="primary">替换iOS中文广告</el-button>
            </vue-core-image-upload>
          </div>
          <div class="upload">
            <img class="upload-pre" :src="enIOSAd" alt="">
            <vue-core-image-upload class="upload-button"
                                  v-bind:url="enIOSImgApi"
                                  :multiple="false"
                                  @imagechanged = "imagechanged"
                                  @imageuploaded="imageuploaded">
                                  <el-button @click="onChangeAd('en', 'ios')" type="primary">替换iOS英文广告</el-button>
            </vue-core-image-upload>
          </div>
        </div>
    </div>
</template>

<script>
import Ad from "../../api/Ad";
import VueCoreImageUpload from "vue-core-image-upload";
export default {
  data() {
    return {
      url: "./static/vuetable.json",
      tableData: [],
      version: "1",
      isShow: false,
      cnAnAd: "./static/img/img.jpg",
      enAnAd: "./static/img/img.jpg",
      cnIOSAd: "./static/img/img.jpg",
      enIOSAd: "./static/img/img.jpg",
      enAnURL: "",
      cnAnURL: "",
      enIOSURL: "",
      cnIOSURL: "",
      lang: "cn",
      platform: "ios"
    };
  },
  components: {
    VueCoreImageUpload
  },
  created() {
    this.refreshData();
    this.requestData();
  },
  computed: {
    cnAnImgApi: function() {
      return "/api/v1/managers/ad/image/cn/android" + "/" + this.version;
    },
    enAnImgApi: function() {
      return "/api/v1/managers/ad/image/en/android" + "/" + this.version;
    },
    cnIOSImgApi: function() {
      return "/api/v1/managers/ad/image/cn/ios" + "/" + this.version;
    },
    enIOSImgApi: function() {
      return "/api/v1/managers/ad/image/en/ios" + "/" + this.version;
    }
  },
  methods: {
    imageuploaded() {
      console.log("loaded");
      this.requestData();
    },
    onChangeAd(lang, platform) {
      console.log(lang, platform, "onChangeAd");
      this.lang = lang;
      this.platform = platform;
    },
    imagechanged(a) {
      var self = this;
      var reader = new FileReader();
      reader.onload = function(f) {
        if (self.lang == "cn") {
          if (self.platform == "android") {
            self.cnAnAd = this.result;
          } else if (platform == "ios") {
            self.cnIOSAd = this.result;
          }
        } else if (self.lang == "en") {
          if (self.platform == "android") {
            self.enAnAd = this.result;
          } else if (platform == "ios") {
            self.enIOSAd = this.result;
          }
        }
      };
      reader.readAsDataURL(a);
    },
    requestData() {
      let api = new Ad();
      var self = this;
      api.getInfo().then(function(value) {
        if (value.code == 0) {
          console.log(value);
          self.version = value.data.version;
          self.isShow = value.data.show == 1 ? true : false;
          self.cnIOSAd = value.data.image.ios.cn;
          self.enIOSAd = value.data.image.ios.en;
          self.cnAnAd = value.data.image.android.cn;
          self.enAnAd = value.data.image.android.en;
          self.cnIOSURL = value.data.link.ios.cn;
          self.enIOSURL = value.data.link.ios.en;
          self.cnAnURL = value.data.link.android.cn;
          self.enAnURL = value.data.link.android.en;
          self.refreshData();
        }
      });
    },
    editValue(index, value) {
      if (index == 0) {
        this.version = value
        this.uploadVersionInfo()
      } else if (index == 1) {
        this.isShow = value == '1' ? true : false
        this.uploadIsShow()
      } else if (index == 2) {
        this.enAnURL = value;
        this.uploadLinkInfo(value, 'en', 'android')
      } else if (index == 3) {
        this.cnAnURL = value;
        this.uploadLinkInfo(value, 'cn', 'android')
      } else if (index == 4) {
        this.enIOSURL = value;
        this.uploadLinkInfo(value, 'en', 'ios')
      } else if (index == 5) {
        this.cnIOSURL = value;
        this.uploadLinkInfo(value, 'cn', 'ios')
      }
      this.refreshData()
    },
    onCellClicked(row) {
      let name = row.name;
      this.$prompt(name, "确定修改信息吗", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: row.value
      })
        .then(({ value }) => {
          this.editValue(row.index, value);
        })
        .catch(() => {});
    },
    handleCurrentChange(val) {
      this.refreshData();
    },
    uploadVersionInfo() {
      let api = new Ad()
      api.editVersion(this.version).then( (result)=> {

      })
    },
    uploadIsShow() {
      let api = new Ad()
      api.editShow(this.isShow).then( (result)=> {

      })
    },
    uploadLinkInfo(link, lang, platform) {
      let api = new Ad()
      api.editLink(link, lang, platform).then( (result)=> {

      })
    },
    refreshData() {
      this.cnImgApi = "/managers/ad/image/cn/ios" + "/" + this.version;
      this.enImgApi = "/managers/ad/image/en/ios" + "/" + this.version;
      this.tableData = [
        {
          index: 0,
          name: "广告页版本",
          value: this.version
        },
        {
          index: 1,
          name: "是否显示",
          value: this.isShow ? "1" : "0"
        },
        {
          index: 2,
          name: "安卓英文链接",
          value: this.enAnURL
        },
        {
          index: 3,
          name: "安卓中文链接",
          value: this.cnAnURL
        },
        {
          index: 4,
          name: "iOS英文链接",
          value: this.enIOSURL
        },
        {
          index: 5,
          name: "iOS中文链接",
          value: this.cnIOSURL
        }
      ];
    }
  }
};
</script>

<style scoped>
@import "./common.css";
</style>