.handle-box {
    margin-bottom: 20px;
}

.edit-button {
    float: right
}

.cell-value {
    width: 500px;
    display: inline-block
}

.handle-input {
    width: 300px;
    display: inline-block;
}

a {
    color: #000;
}

.upload {
    display: block;
    text-align: center;
    width: 180px;
    height: 180px;
    margin: 20px;
    /* overflow: hidden; */
}

.upload-button {
    padding-top: 20px;
    margin: 0 auto;
    cursor: "pointer";
}

.upload-pre {
    /* width: 180px; */
    overflow: hidden;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

.ad-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
